.wrapper{
    width: 100%;
    height: 832px;
    float: left;
}

.title_text_container{
    color: white;
    margin-left: 85px;
    margin-top: 117px;
    h1{
        margin-top: 100px;
        font-size: 40px;
        font-weight: 800;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
    }
}

.advantages_container{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 122px;
}

.block_1,.block_2,.block_3{
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    p{
        color: white;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
    }
    .image{
        margin-bottom: 15px;
    }
}

.block_1,.block_2{
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    .image{
        width: 176px;
        height: 193px;
    }
}

.block_2{
    margin-top: 122px;
    .image{
        width: 142px;
        height: 144px;
    }
    .shadow{
        width: 79px;
        margin-left: 10px;
    }
}

.block_3{
    .image{
        width: 226px;
        height: 178px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .shadow{
        width: 134px;
        margin-left: 20px;
    }
    p{
        span{
            color: #D02626;
        }
        white-space: nowrap;
        margin-left: 10px;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}

.shadow{
    width: 108px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    filter: blur(6px);
    margin-left: 10px;
}

@media (max-width: 946px) {
    .wrapper{
        height: auto;
    }
    .advantages_container{
        grid-template-columns: 1fr;
    }
    .block_2{
        margin-top: 20px;
    }
    .advantages_container{
        gap: 40px;
        margin-top: 70px;
    }

    .title_text_container{
        margin-top: 157px;
    }
    
}


@media (max-width: 767px) {
    .wrapper{
        height: auto;
    }
    .advantages_container{
        grid-template-columns: 1fr;
    }

    .title_text_container{
        margin-left: 0;
        text-align: center;
        padding: 0 10px;
        h1{
            margin-top: 100px;
            font-size: 32px;
            font-weight: 800;
        }
        p{
            font-size: 13px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}

@media (max-width: 350px) {
    .title_text_container{
        h1{
            font-size: 26px;
        }
        p{
            font-size: 12px;
        }
    }
}
