.wrapper{
    width: 100%;
    height: 832px;
    float: left;
}

.title_text_container{
    color: white;
    margin-left: 85px;
    margin-top: 117px;
    h1{
        margin-top: 100px;
        font-size: 40px;
        font-weight: 800;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        margin-top: -25px;
    }
}

.advantages_container{
    display: flex;
    justify-content: center;
    margin-top: 122px;
    margin-left: 60px;
}

.block_1,.block_2,.block_3{
    p{
        color: white;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        margin-left: -20px;
        padding-top: 20px;
    }
    .image{
        margin-bottom: 15px;
    }
}

.block_1,.block_2{
    margin-right: 200px;
    .image{
        width: 176px;
        height: 193px;
    }
}

.block_2{
    margin-top: 122px;
    .image{
        width: 142px;
        height: 144px;
        margin-left: 10px;
    }
    .shadow{
        width: 79px;
        margin-left: 45px;
    }
}

.block_3{
    margin-left: -30px;
    .image{
        width: 226px;
        height: 178px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .shadow{
        width: 134px;
        margin-left: 70px;
    }
    p{
        span{
            color: #D02626;
        }
        white-space: nowrap;
        margin-left: 0px;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}


.shadow{
    width: 108px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    filter: blur(6px);
    margin-left: 30px;
}
