.wrapper {
  font-family: '__Open_Sans_af7b73';
  h1 {
    font-size: 27px;
  }

  padding: 30px 50px;
  overflow: hidden;
}


.tools {
  width: 40%;
  margin: 50px auto 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    border: unset;

    &:nth-child(1) {
      background-color: #bd1c1c;
    }

  }

  .add {
    background-color: #3fbd48;
  }
}

.text {
  text-align: center;
  font-size: 14px;
}


.water-container{
  p{
    font-size: 40px;
    font-family: '__OPEN_SANS_AF7B73';
  }
}


.add_train{
  color: #39a8f9;
  font-weight: 500;
  margin-top: 25px;
}

.add-training{
  width: 100%;
  height: auto;
  padding: 20px 50px;
  box-sizing: border-box;
  background: #1D1E22;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputs_cont{
  display: flex;
  gap: 5px;
  padding: 5px 0;
}


.train-container{
  .title {
    font-size: 22px;
    margin-top: 20px;
  }

  .container {
    margin-top: 10px;
    overflow-y: scroll;
  }
}

.history{
  background: #1D1E22;
  border-radius: 20px;
  padding: 10px;

  margin-top: 15px;

}

.blk {
  display: inline-block;
  width: auto;
  height: auto;
  background: black;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}