.journal_block {
    margin-top: 30px;

    p {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    textarea {
        width: 400px;
        height: 18px;
        padding: 15px 20px;
        border: none;
        border-radius: 16px;
        background-color: #34363D;
        resize: none;
        outline: none;
        color: white;
        transition: .5s ease;
        font-size: 15px !important;
        margin-top: 3px;

        &::placeholder {
            color: #929292;
            font-size: 14px;
            font-weight: 400;
            padding-top: 1px;
            padding-left: 19px;
            transition: .2s ease;
        }

        &:focus {
            height: 100px;
            &::placeholder {
                color: #34363D;
            }
        }
    }
}

.diary_container{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 5px;
    textarea {
        font-size: 17px;
        font-family: Arial;
        font-weight: 300;
    }
    .diary_button{
        width: 100px;
        height: 48px;
        border-radius: 16px;
        background-color: #5CC7F5;
        box-shadow: 0px 0px 5px rgba(92, 199, 245, 0.50);
        border: none;
        color: white;
        font-size: 12px;
        transition: .3s ease;
        cursor: pointer;
        &:hover{
            transform: scale(.95);
        }
    }
}

.buttons-menu{
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    gap: 10px;
}

.buttons-menu__btn{
    width: 100px;
    cursor: pointer;
    border: none;
    height: 48px;
    border-radius: 16px;
    padding: 12px;
    background-color: #fff;
    animation: showBtn .3s ease forwards;
    transition: .3s ease;
    color: black;
    &:disabled{
        animation: hideBtn .3s ease forwards;
    }
}

@keyframes hideBtn {
    0%{
        opacity: 100%;
    }
    80%{
        height: 48px;
        opacity: 0%;

    }
    100%{
        height: 0;
        opacity: 0%;
    }
}
@keyframes showBtn {
    0%{
        height: 0;
        opacity: 0%;
    }
    50%{
        height: 48px;
        opacity: 0%;
    }
    100%{
        height: 48px;
        opacity: 100%;
        
    }
}


@media (max-width: 767px) {
    .diary_button{
        font-size: 15px !important; 
        width: auto !important;
        padding: 10px 20px;
    }
    .diary_container{
        flex-flow: column;
        align-items: center;
        textarea {
            width: calc( 100% - 30px );
        }
    }
    .buttons-menu{
        flex-flow: row-reverse;
        margin-top: 20px;
        margin-left: 0;
        .buttons-menu__btn{
            width: auto;
            font-size: 15px !important;
        }
    }
}

@media (max-width: 580px){
    .journal_block {
        width: 100%;
        textarea {
            width: 80%;
            height: auto;
        }
    }
    .diary_container{
        flex-flow: column;
        align-items: center;
    }
    .buttons-menu{
        margin-top: 20px;
    }
}