$vv: #ffff;

.wrapper{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 50px;
}

.title{
    color:$vv;
    font-size: 36px;
    font-weight: 700;
    margin-left: 122px;
    margin-top: 93px;
    span{
        color: #D02626;
    }
}

.content-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 80% !important;
    gap: 50px;
    margin: 0 auto;
}

.activity_container{
    .activity_block{
        cursor: pointer;
        color: white;
        width: 568px;
        height: auto;
        box-sizing: border-box;
        padding: 12px 0;
        background-color: rgba(57, 59, 67, 0.60);;
        border-radius: 20px;
        position: relative;
        align-items: center;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr .20fr;
        p{
            float: left;
            margin-left: 29px;
        }
        .active_dot{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: white;
            right: 30px;
            position: absolute;
        }
    }
    #active{
        background-color: #43454f;
    }
}

.form_block{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    h3{
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
}

.checkbox_container{
    margin-left: 15px;
    margin-top: 20px;
}

.male_checkbox_block,.female_checkbox_block{
    display: inline-block;
    p{
        color: white;
        display: inline-block;
    }
    input{
        display: inline-block;
        margin-right: 25px;
        background-color: #D9D9D9;
        border-radius: 50px;
    }
}

.male_checkbox_block{
    margin-right: 34px;
}

.form{
    display: block;
    width: 267px;
    height: 46px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #393B43;
    margin-top: 15px;
    color: white;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 24px;
}

.form::placeholder{
    color: #B6B6B6;
    font-size: 15px;
    font-weight: 400;
}

.button{
    width: 196px;
    height: 45px;
    border-radius: 25px;
    background: #BE0000;
    border:none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 0px 25px 0px rgba(132, 0, 0, 0.60);
    transition: .3s ease;
    margin-top: 15px;
    &:hover{
        transform: scale(.96);
    }
}

.result_block{
    float: left;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}

.result_text{
    float: left;
    font-size: 20px;
    font-weight: 400;
    span{
        color: #00C851;
    }
}

.subtitle{
    font-size: 13px;
    font-weight: 400;
}

.error_text{
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

@media (max-width: 1130px) {
    .title{
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 965px) {
    .title{
        font-size: 35px;
    }
    .content-container{
        width: 100% !important;
        padding-top: 50px;
        grid-template-columns: 1fr;
        order: 1;
    }
    .activity_container{
        order: 2;
        justify-self: center;
    }
}

@media (max-width: 600px) {
    .activity_container{
        width: calc(100% - 40px) !important;
        margin: 0 auto;
        .activity_block{
            width: 100%;
        }
    }
}