.wrapper{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    padding: 40px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.description{
    max-width: 60%;
    color: #B7B7B7;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
}