.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_container{
    width: 414px;
    height: 500px;
    background-color: #151516;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
    z-index: 1;
    .animation_line{
        z-index: 2;
        width: 200%;
        height: 100px;
        background-color: white;
        position: absolute;
        animation: rotation 7s linear infinite;
    }
}

.auth_form{
    z-index: 3;
    width: 99%;
    height: 99%;
    background-color: #151516;
    border-radius: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-top: 55px;
    padding-bottom: 10px;
}

.email_field, .password_field{
    width: 276px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #2F3034;
    border-radius: 15px;
    margin-top: 22.5px;
    outline: none;
    transition: .4s ease;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    &:focus{
        border: 1px solid white;
    }
}

.email_block, .password_block{
    position: relative;
    p:not(.error_text){
        position: absolute;
        color: white;
        font-size: 13px;
        font-weight: 400;
        margin-left: 24px;
        background-color: #151516;
        padding: 0 5px;
    }
}

.password_block{
    margin-top: 34px;
}

.button{
    width: 296px;
    height: 35px;
    border-radius: 15px;
    background-color: #00C851;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 20px rgba(0, 200, 81, 0.50);
    margin-top: 45px;
    transition: .4s ease;
    cursor: pointer;
    &:hover{
        transform: scale(.98);
    }
    &:disabled{
        background-color: #067a34;
        color: rgb(170, 170, 170);
        box-shadow: 0px 0px 20px rgba(2, 128, 53, 0.5);
    }
}
.funс_block{
    display: flex;
    justify-content: space-between;
    width: 261px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 30px;
    text-decoration: none;
    .redirect_link{
        cursor: pointer;
        transition: .4s ease;
        text-decoration: none;
        color: white;
        &:hover{
            transform: scale(.95);
        }
    }
}

.from_container{
    margin-top: 10px;
}

.error_text{
    position: absolute;
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-left: 24px;
    background-color: #151516;
    padding: 0 5px;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:550px) {
    .block_container{
        width: calc(100% - 40px);
        margin: auto;
    }

    .button{
        width: 226px;
        height: 35px;
    }
    .email_field, .password_field{
        width: 206px;
        height: 41px;
    }
    .title{
        font-size: 25px;
    }
    .funс_block{
        width: 221px;
    }
}