.background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    width: 860px;
    height: 80vh;
    background-color: rgb(40, 40, 40);
    border-radius: 70px;
    user-select: none;
    transition: .5s ease;
    animation: showWindow .3s;
    position: relative;
}

.mob-close-window-line{
    display: none;
    border-radius: 2em;
    width: 20%;
    height: 7px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
}


@media (max-width: 767px) {
    .mob-close-window-line{
        display: block;
    }
    .background{
        display: block;
    }
    .window{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 90vh;
        border-radius: 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@keyframes showWindow {
    from{
        bottom: -100vh;
    }
    to{
        bottom: 0;
    }
}