.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    float: left;
    padding-bottom: 40px;
}

.content_block {
    width: 560px;
    margin: auto;
}

.header_text {
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;

}

.wellcome_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .wrapper {
        flex-flow: column-reverse;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .content_block {
        z-index: 9999;
        border-radius: 0px;
    }
}

@media (max-width: 580px){
    .content_block {
        width: 100%;
    }
}

